directives/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "2dc9bb46-254f-4b4e-a58c-3f9fc5156b64",
      "name": "Schedule (Every 2 Days)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2816,
        496
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "=llama-3.3-70b-versatile",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are a Staff Software Engineer at a top tech company sharing career advice on LinkedIn to grow the 'SkillHire' job board audience.\\n\\nWrite a highly engaging, informative, and deeply technical organic post about ONE of the following topics (pick randomly):\\n- A deep-dive technical interview tip (Data Structures, System Design, or Behavioral)\\n- A specific mistake freshers make when applying to jobs or building their resume\\n- A quick tutorial on a modern tech concept (e.g., How JWTs work, React Hooks vs side effects)\\n- A mindset shift for junior developers struggling to get hired\\n\\nCRITICAL OUTPUT INSTRUCTIONS:\\n1. Length: The post MUST be substantial (200-300 words). Do not write a short summary.\\n2. Hook: Start with a strong, counter-intuitive opening line to grab attention.\\n3. Value: You MUST include a numbered list (3-4 points) that deeply explains the technical concept with specific examples or actionable advice.\\n4. Formatting: Use line breaks between paragraphs. Do not write a wall of text.\\n5. Links: DO NOT include any URLs or external links anywhere.\\n6. Ending: End with an engaging question for the audience.\\n7. Hashtags: Add exactly 3 hashtags at the bottom.\\n\\nOutput ONLY the final LinkedIn post text. Do not include introductory text, explanations, or any Markdown fences."
            }
          ]
        },
        "options": {
          "temperature": 0.8
        },
        "requestOptions": {}
      },
      "id": "94ddcc27-65e3-408a-83aa-674a6cdd49a1",
      "name": "Generate Post Text",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        -2544,
        496
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "=llama-3.3-70b-versatile",
        "prompt": {
          "messages": [
            {
              "content": "={{ 'Based on the following LinkedIn post, generate a very short, punchy 3-to-4 word title for an image graphic (e.g., \"Mastering System Design\"). \\n\\nOutput ONLY the 3-to-4 word title as plain text without any quotes or punctuation.\\n\\nLinkedIn Post:\\n' + $json.message.content }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4
        },
        "requestOptions": {}
      },
      "id": "72201e31-0539-466b-887e-850094303181",
      "name": "Generate Short Title",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        -2256,
        496
      ]
    },
    {
      "parameters": {
        "url": "=https://skillhire.in/api/og?title={{ encodeURIComponent($json.message.content) }}&subtitle=Career%20Advice%20for%20Modern%20Developers&type=organic",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d6f6fbb3-5b10-4271-a859-38fcfa1fb042",
      "name": "Generate Branded Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1984,
        496
      ],
      "notesInFlow": true,
      "notes": "Downloads binary image from your own Next.js OG API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "97c9412e6fa6e49e104ce5d135dec4e9"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "imgbb-organic-123",
      "name": "Upload to ImgBB (Organic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1856,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/vjf19g0id7rj09i2fklwqr5hj7mk75yu",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({text: $('Generate Post Text').item.json.message.content + '\\n\\n(Follow the SkillHire page for more daily tech insights and exclusive job dropping!)', image_url: $json.data.url}) }}",
        "options": {}
      },
      "id": "5d50eb33-faa3-4cd2-9f89-1f1cb7a31522",
      "name": "Make - LinkedIn Organic Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1632,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total_jobs }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "29fb48bd-09ef-458f-8b7a-d3f82639ec9f",
      "name": "IF Jobs Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2208,
        -96
      ]
    },
    {
      "parameters": {
        "errorMessage": "No new jobs found in the last 24 hours. Workflow stopped."
      },
      "id": "ea6f7e2a-9b2f-454a-ab38-8b2c7fac852e",
      "name": "Stop (No Jobs)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2208,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://skillhire.in/api/og?company={{ encodeURIComponent($json.best_job_company) }}&role={{ encodeURIComponent($json.best_job_title) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "8a7ba1f0-15d7-4cd9-8650-b45ae8d3d1bd",
      "name": "Fetch OG Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1952,
        128
      ],
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "Retry enabled: 3 attempts, 5s wait. Downloads binary PNG from Next.js OG endpoint."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "cb1d1079-fb73-46df-a766-a8e36e252f9e",
      "name": "Merge (Caption + Image)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1600,
        -96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cta-var-001",
              "name": "linkedin_caption",
              "value": "={{ JSON.parse($json.message.content).linkedin_caption }}",
              "type": "string"
            },
            {
              "id": "ig-caption-var-001",
              "name": "instagram_caption",
              "value": "={{ JSON.parse($json.message.content).instagram_caption }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a506cc8a-45ce-4614-ba89-a7eafc21d2b9",
      "name": "Set Caption Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -96
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d1e20fee-52bc-453c-8e38-ae7ce7315660",
      "name": "Schedule (9:00 AM)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2880,
        -96
      ]
    },
    {
      "parameters": {
        "collection": "jobs",
        "options": {
          "limit": 50,
          "sort": "={{ JSON.stringify({ created_at: -1 }) }}"
        },
        "query": "={{ JSON.stringify({ is_active: true, created_at: { $gt: new Date(Date.now() - 86400000).toISOString() } }) }}"
      },
      "id": "589b4abd-2c9e-48d2-9c64-0e0b1b5d2008",
      "name": "MongoDB (Last 24h Jobs)1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -2656,
        -96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "xKckRzPqTyBMTzNi",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().map(item => item.json);\n\nif (jobs.length === 0) return [{ json: { total_jobs: 0 } }];\n\n// Top 5 Entry Level Jobs for WhatsApp\nconst entryLevel = jobs\n  .filter(j => (j.experience && j.experience.toLowerCase().includes('fresher')) || !j.experience)\n  .slice(0, 5);\n\nlet waText = \"*🚀 Today's Top 5 Handpicked Tech Jobs!* \\n\\n\";\nentryLevel.forEach(job => {\n  waText += `💼 *${job.title}* at *${job.company}*\\n📍 ${job.location || 'Remote'}\\n💰 ${job.salary_status || 'Competitive CTC'}\\n👉 Apply: ${job.apply_link}\\n\\n`;\n});\nwaText += \"🔥 *Join Premium for instant alerts:* skillhire.in/#pricing\";\n\n// Top 5 summary for AI caption\nconst topJobsSummary = jobs.slice(0, 5).map(j => `- ${j.title} at ${j.company} (${j.location})`).join('\\n');\n\n// Best single job for OG image\nconst bestJob = jobs[0];\n\nreturn [{\n  json: {\n    discord_text: waText,\n    ai_context: topJobsSummary,\n    total_jobs: jobs.length,\n    best_job_company: bestJob.company,\n    best_job_title: bestJob.title\n  }\n}];"
      },
      "id": "56cd83a5-cfd3-4482-b601-416477aa030e",
      "name": "Aggregate & Format Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1484456988476702821/r-lEqsd7vIfqwIU6cWTYORpNJnLuxdw84xdpmi0sX82Lbu39bTbQopQcullVBZ8GcFpW",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({content: $json.discord_text}) }}",
        "options": {}
      },
      "id": "47ce8d49-5d67-41ee-8795-33061873bdb5",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1952,
        -304
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "=llama-3.3-70b-versatile",
        "prompt": {
          "messages": [
            {
              "content": "={{ 'You are doing dual-channel social curation for the tech job board SkillHire. We just added ' + $json.total_jobs + ' new tech jobs today. Highlights:\\n\\n' + $json.ai_context + '\\n\\nTask: Write two DISTINCT captions for these jobs.\\n1. \"linkedin_caption\": Professional but engaging tone, authoritative, emphasize career growth. End with \"Apply: https://skillhire.in/jobs\". Include 5 targeted hashtags.\\n2. \"instagram_caption\": High-energy, gen-z/millennial friendly, urgent. Use many emojis. Shorter and punchier. End with \"Link in Bio to apply! 🔗\". Include 4 trending hashtags.\\n\\nOutput ONLY a valid JSON object with exactly two string properties: \"linkedin_caption\" and \"instagram_caption\". Do NOT wrap in markdown or backticks.' }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        },
        "requestOptions": {}
      },
      "id": "889b89df-b6f3-4329-8384-4c138d6b2a56",
      "name": "Groq - Write Caption1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -1952,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "J4Cq2Nu94O3Srvyb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/m0h201rlug3e6t54asf4jkm5ncfmiwpb",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({text: $json.linkedin_caption, image_url: $json.data.url}) }}",
        "options": {}
      },
      "id": "6dbcccee-d77b-43a0-9429-5edbaba66f3a",
      "name": "Make - LinkedIn Image Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1120,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "97c9412e6fa6e49e104ce5d135dec4e9"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "0a86ae7f-4b55-47bd-ac5f-93157111db2b",
      "name": "Upload to ImgBB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1760,
        112
      ]
    },
    {
      "parameters": {
        "igUserId": "17841443320246110",
        "mediaUrl": "={{ $json.data.url }}",
        "caption": "={{ $('Set Caption Variables').item.json.instagram_caption }}"
      },
      "type": "n8n-nodes-meta-publisher.metaPublisher",
      "typeVersion": 1,
      "position": [
        -1120,
        144
      ],
      "id": "b7569ab6-2de3-4632-b326-c84a4501a630",
      "name": "Publish image on instagram",
      "credentials": {
        "metaGraphApi": {
          "id": "bNMk4GZzb1TRXqYD",
          "name": "Meta Graph (Access Token) account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-distribution",
        "options": {}
      },
      "id": "0d73f5af-ff62-46e8-8ffb-ee11f9bfa35c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3104,
        -800
      ],
      "webhookId": "job-distribution"
    },
    {
      "parameters": {
        "collection": "jobs",
        "options": {
          "limit": 100,
          "sort": "={{ JSON.stringify({ created_at: 1 }) }}",
          "projection": "={{ JSON.stringify({\n  \"_id\": 1,\n  \"title\": 1,\n  \"company\": 1,\n  \"location\": 1,\n  \"apply_link\": 1,\n  \"is_premium\": 1,\n  \"salary_status\": 1,\n  \"experience\": 1,\n  \"distributed_channels\": 1,\n  \"premium_posted_at\": 1\n}\n) }}"
        },
        "query": "={{ JSON.stringify({ is_active: true, $or: [ { is_premium: false, distributed_channels: { $nin: ['telegram_free'] } }, { is_premium: true, distributed_channels: { $nin: ['telegram_premium'] } }, { is_premium: true, distributed_channels: { $in: ['telegram_premium'], $nin: ['telegram_free'] }, premium_posted_at: { $lt: new Date(Date.now() - 86400000).toISOString() } } ] }) }}"
      },
      "id": "3bd3b69c-fbbd-4af5-85f6-10591b1bd9f0",
      "name": "MongoDB Query Pending Jobs",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -2880,
        -800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json !== undefined}}",
              "value2": true
            }
          ]
        }
      },
      "id": "c89d4dcc-709c-4b1e-a289-c4992125ef85",
      "name": "Has Pending Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2640,
        -800
      ]
    },
    {
      "parameters": {},
      "id": "8cbca044-e47b-46ae-89f9-8edca379c974",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2432,
        -624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_premium === true && !($json.distributed_channels || []).includes('telegram_premium') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1e11978c-3e47-4ab1-abfe-54668bc342c2",
      "name": "Is Premium?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2432,
        -896
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=💻 <b>{{$json.title}}</b> at <b>{{$json.company}}</b>\n\n📍 <b>Location:</b> {{$json.location}}\n💰 <b>Salary:</b> {{$json.salary_status || 'Competitive CTC'}}\n🎓 <b>Experience:</b> {{$json.experience || 'Fresher'}}\n\n⭐ <b>Premium Early Access</b>\nBe among the first applicants.\n\n🚀 <b>Apply Now:</b>\n<a href=\"{{$json.apply_link}}\">{{$json.apply_link}}</a>\n\n━━━━━━━━━━━━━━\n#SkillHire #PremiumJobs #TechJobs"
            },
            {
              "name": "channel_name",
              "value": "telegram_premium"
            }
          ]
        },
        "options": {}
      },
      "id": "f3eee69d-60b4-4eb5-b5a2-e999dcc69256",
      "name": "Format Premium",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2208,
        -1024
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=💻 <b>{{$json.title}}</b> at <b>{{$json.company}}</b>\n\n📍 <b>Location:</b> {{$json.location}}\n💰 <b>Salary:</b> {{$json.salary_status || 'Competitive CTC'}}\n🎓 <b>Experience:</b> {{$json.experience || 'Fresher'}}\n\n🚀 <b>Apply Now:</b>\n<a href=\"{{$json.apply_link}}\">{{$json.apply_link}}</a>\n\n━━━━━━━━━━━━━━\n[ <i>Premium members received this job alert 24 hours ago</i> ]\n\n⚡ <b>Want instant, early access before positions close?</b>\nUpgrade to Premium → <a href=\"https://skillhire.in/#pricing\">SkillHire Premium Checkout</a>\n\n#SkillHire #FresherJobs #TechJobs"
            },
            {
              "name": "channel_name",
              "value": "telegram_free"
            }
          ]
        },
        "options": {}
      },
      "id": "ace0abfc-6734-4c6b-87cf-c1e3ce3e5a5e",
      "name": "Format Free",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2208,
        -816
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "53a909a8-e0a2-459c-95bb-006dd643eb7d",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1664,
        -880
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "c90dd292-a3d3-4af7-96ef-390dea8c09b5",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1440,
        -880
      ],
      "webhookId": "d9b812d3-3e26-4417-8a76-071b6b4250c3"
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"channel_name\"] === \"telegram_premium\" ? \"-1003613550186\" : \"-1003783389662\" }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "id": "119b540f-147e-4cdb-9f30-11bcb309cea2",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1008,
        -1088
      ],
      "webhookId": "bfc5a8ae-62f8-4673-9542-ed1444d53f73",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "jobs",
        "updateKey": "_id",
        "fields": "distribution_status, distributed_channels, premium_posted_at",
        "options": {}
      },
      "id": "1f6fda7e-fd96-454a-91a0-50ef9a2e75d0",
      "name": "Update MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -400,
        -880
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "481a79e8-ca52-4ee5-b766-782c8169dbf6",
              "name": "channel_name",
              "value": "={{ $json.channel_name }}",
              "type": "string"
            },
            {
              "id": "0f3b83e8-f5f3-4cab-a356-23533ef983c9",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "0531db34-b7be-4601-af46-452abe3aa43d",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -880
      ],
      "id": "63416af8-80b0-47d4-9ff8-edcc06717e01",
      "name": "Restore Job Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        -880
      ],
      "id": "3da6303e-80d8-42fe-9fa1-38e2077090e6",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd5a4989-ae7d-42f7-8402-e550f596e926",
              "name": "distribution_status",
              "value": "distributed",
              "type": "string"
            },
            {
              "id": "d3df52f5-2291-47e3-94a8-bdbf3e02b67e",
              "name": "distributed_channels",
              "value": "={{ ($json.distributed_channels || []).concat([$json.channel_name]) }}",
              "type": "array"
            },
            {
              "id": "1c36c186-a4b5-469f-8a6a-2685c422b064",
              "name": "premium_posted_at",
              "value": "={{ $json.channel_name === 'telegram_premium' ? new Date().toISOString() : ($json.premium_posted_at || null) }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -880
      ],
      "id": "1b66ff79-ab57-4662-a5c8-d5013f0d1ac5",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1952,
        -880
      ],
      "id": "613a5e95-a872-4f68-94bf-0629504ed310",
      "name": "Merge1"
    }
  ],
  "connections": {
    "Schedule (Every 2 Days)": {
      "main": [
        [
          {
            "node": "Generate Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post Text": {
      "main": [
        [
          {
            "node": "Generate Short Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Short Title": {
      "main": [
        [
          {
            "node": "Generate Branded Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Branded Image": {
      "main": [
        [
          {
            "node": "Upload to ImgBB (Organic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ImgBB (Organic)": {
      "main": [
        [
          {
            "node": "Make - LinkedIn Organic Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Jobs Found": {
      "main": [
        [
          {
            "node": "Discord Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq - Write Caption1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch OG Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop (No Jobs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OG Image": {
      "main": [
        [
          {
            "node": "Upload to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Caption + Image)": {
      "main": [
        [
          {
            "node": "Set Caption Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Caption Variables": {
      "main": [
        [
          {
            "node": "Make - LinkedIn Image Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish image on instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (9:00 AM)1": {
      "main": [
        [
          {
            "node": "MongoDB (Last 24h Jobs)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB (Last 24h Jobs)1": {
      "main": [
        [
          {
            "node": "Aggregate & Format Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Format Data1": {
      "main": [
        [
          {
            "node": "IF Jobs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Write Caption1": {
      "main": [
        [
          {
            "node": "Merge (Caption + Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ImgBB": {
      "main": [
        [
          {
            "node": "Merge (Caption + Image)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MongoDB Query Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Query Pending Jobs": {
      "main": [
        [
          {
            "node": "Has Pending Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Jobs?": {
      "main": [
        [
          {
            "node": "Is Premium?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Premium?": {
      "main": [
        [
          {
            "node": "Format Premium",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Premium": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Free": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Restore Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update MongoDB": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Job Data": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a157234ce0dd018cb5da76d911c5f2a0c490558f70d66a481537b84f57664155"
  }
}