directives/n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "job-distribution",
                "options": {}
            },
            "id": "5d87c723-0418-4a7e-ae70-07d8cafd49c8",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -896,
                224
            ],
            "webhookId": "job-distribution"
        },
        {
            "parameters": {
                "collection": "jobs",
                "options": {
                    "limit": 50,
                    "projection": "={ \"_id\": 1,\"title\": 1, \"company\": 1, \"location\": 1, \"apply_link\": 1, \"is_premium\": 1, \"salary_status\": 1, \"distributed_channels\": 1, \"premium_posted_at\": 1 }"
                },
                "query": "={\n  \"is_active\": true,\n  \"$or\": [\n    { \"distributed_channels\": { \"$ne\": \"telegram_premium\" } },\n    {\n      \"distributed_channels\": { \"$in\": [\"telegram_premium\"], \"$nin\": [\"telegram_free\"] },\n      \"premium_posted_at\": { \"$lt\": new Date(Date.now() - 86400000) }\n    }\n  ]\n}"
            },
            "id": "1e0b74a0-095b-41ea-9bd4-e55f4d291daa",
            "name": "MongoDB Query Pending Jobs",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                -672,
                224
            ],
            "credentials": {
                "mongoDb": {
                    "id": "oHTx8tK18y4UnaAc",
                    "name": "MongoDB account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json !== undefined}}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "cea7de0d-8f23-4258-bf14-6a450e764eb2",
            "name": "Has Pending Jobs?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -432,
                224
            ]
        },
        {
            "parameters": {},
            "id": "f7f95a02-5810-40eb-a076-31fa4d6b51e1",
            "name": "NoOp",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -224,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ !($json.distributed_channels || []).includes('telegram_premium') }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "8696e72b-450a-445e-86f4-a2d20e114e01",
            "name": "Is Premium?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -224,
                128
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "=💼 <b>{{$json.title}}</b>\n🏢 <b>Company:</b> {{$json.company}}\n\n📍 <b>Location:</b> {{$json.location}}\n💰 <b>Salary:</b> {{$json.salary_status || 'Competitive CTC'}}\n\n⭐ <b>Premium Early Access</b>\nBe among the first applicants.\n\n📝 <b>Apply Now:</b>\n<a href=\"{{$json.apply_link}}\">{{$json.apply_link}}</a>\n\n🌐 <b>More jobs:</b>\n<a href=\"https://skillhire.in\">skillhire.in</a>\n\n━━━━━━━━━━━━━━\n#SkillHire #PremiumJobs #TechJobs"
                        },
                        {
                            "name": "channel_name",
                            "value": "telegram_premium"
                        }
                    ]
                },
                "options": {}
            },
            "id": "9836a460-d658-4711-8c38-a86720eafa21",
            "name": "Format Premium",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "=💼 <b>{{$json.title}}</b>\\n🏢 <b>Company:</b> {{$json.company}}\\n\\n📍 <b>Location:</b> {{$json.location}}\\n💰 <b>Salary:</b> {{$json.salary_status || 'Competitive CTC'}}\\n\\n⚠️ <i>Premium members got this 24hrs ago!</i>\\n⚡ Skip the delay. Get instant alerts via our Premium Channel.\\n👉 <b>Upgrade Now:</b> <a href=\"https://rzp.io/l/YOUR_RAZORPAY_LINK\">Click Here to Subscribe (Razorpay)</a>\\n\\n📘 <b>Prep For This Role:</b>\\n<a href=\"{{ $json.title.toLowerCase().includes('data') ? 'YOUR_DATACAMP_AFFILIATE_LINK' : ($json.title.toLowerCase().includes('frontend') || $json.title.toLowerCase().includes('react') ? 'YOUR_FRONTEND_AFFILIATE_LINK' : 'YOUR_ALGOEXPERT_AFFILIATE_LINK') }}\">Crack the Interview (Top Course)</a>\\n\\n📝 <b>Apply Now:</b>\\n<a href=\"{{$json.apply_link}}\">{{$json.apply_link}}</a>\\n\\n━━━━━━━━━━━━━━\\n#SkillHire #FresherJobs #TechJobs"
                        },
                        {
                            "name": "channel_name",
                            "value": "telegram_free"
                        }
                    ]
                },
                "options": {}
            },
            "id": "9219352c-86a0-4cda-8f43-b0e79e034ab1",
            "name": "Format Free",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                0,
                208
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {
                    "reset": false
                }
            },
            "id": "7e9e7035-2b5b-4102-8c2e-c958d88639de",
            "name": "SplitInBatches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                224,
                128
            ]
        },
        {
            "parameters": {
                "unit": "seconds"
            },
            "id": "efd66323-1fb5-45d4-91ac-3caca7b56372",
            "name": "Wait (Rate Limit)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                448,
                128
            ],
            "webhookId": "d9b812d3-3e26-4417-8a76-071b6b4250c3"
        },
        {
            "parameters": {
                "chatId": "={{ $json[\"channel_name\"] === \"telegram_premium\" ? \"@SkillHirePremium\" : \"@SkillHireFree1\" }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "disable_web_page_preview": false,
                    "parse_mode": "HTML"
                }
            },
            "id": "250b0ab7-0a4e-4399-b004-e167d9670fc7",
            "name": "Telegram Send",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                880,
                -80
            ],
            "webhookId": "bfc5a8ae-62f8-4673-9542-ed1444d53f73",
            "alwaysOutputData": true,
            "credentials": {
                "telegramApi": {
                    "id": "kMmP9zJXiGK5AoRJ",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "jobs",
                "updateKey": "={\n  \"$set\": {\n    \"distribution_status\": \"distributed\",\n    \"premium_posted_at\": \"={{ $json.channel_name === 'telegram_premium' ? new Date() : $json.premium_posted_at }}\"\n  },\n  \"$addToSet\": {\n    \"distributed_channels\": \"={{ $json.channel_name }}\"\n  }\n}",
                "fields": "_id",
                "options": {}
            },
            "id": "a8c219ab-641c-4476-a0a1-70ee0c9a328e",
            "name": "Update MongoDB",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                1264,
                144
            ],
            "alwaysOutputData": true,
            "credentials": {
                "mongoDb": {
                    "id": "oHTx8tK18y4UnaAc",
                    "name": "MongoDB account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "481a79e8-ca52-4ee5-b766-782c8169dbf6",
                            "name": "channel_name",
                            "value": "={{ $json.channel_name }}",
                            "type": "string"
                        },
                        {
                            "id": "0f3b83e8-f5f3-4cab-a356-23533ef983c9",
                            "name": "_id",
                            "value": "={{ $json._id }}",
                            "type": "string"
                        },
                        {
                            "id": "0531db34-b7be-4601-af46-452abe3aa43d",
                            "name": "message",
                            "value": "={{ $json.message }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                656,
                128
            ],
            "id": "42b29994-c4c5-4596-8cdc-5ccfe2348710",
            "name": "Restore Job Data"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                1072,
                128
            ],
            "id": "2ea3c47c-de98-4468-84b3-acc0b2787343",
            "name": "Merge"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "MongoDB Query Pending Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB Query Pending Jobs": {
            "main": [
                [
                    {
                        "node": "Has Pending Jobs?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending Jobs?": {
            "main": [
                [
                    {
                        "node": "Is Premium?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "NoOp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Premium?": {
            "main": [
                [
                    {
                        "node": "Format Premium",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Format Free",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Premium": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Free": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SplitInBatches": {
            "main": [
                [
                    {
                        "node": "Wait (Rate Limit)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (Rate Limit)": {
            "main": [
                [
                    {
                        "node": "Restore Job Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Send": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update MongoDB": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Restore Job Data": {
            "main": [
                [
                    {
                        "node": "Telegram Send",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Update MongoDB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "aab99639e0d9ae611517cd641435fd747b89cbd9bf422dd59458452af5a9c019"
    }
}