directives/n8n_helpful_content.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "fc47614d-5cbf-48d6-a212-e7815cf1a95a",
      "name": "Schedule (9AM & 6PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "llama-3.3-70b-versatile",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are a top-tier Senior Software Engineer mentoring freshers. Your goal is to write a highly engaging, thought-provoking 'Brain Byte' for a Telegram community of 5000+ job-seeking junior developers.\\n\\nWrite exactly one of the following (pick randomly):\\n1. A quick Data Structures/Algorithms mini-quiz with a hidden spoiler answer.\\n2. A crucial resume or interview tip that most freshers get wrong.\\n3. A rapid-fire System Design concept explained simply (e.g., Redis vs Memcached).\\n\\nFORMATTING RULES (CRITICAL):\\n- Tone: Gen-Z friendly, high energy, lots of relevant emojis.\\n- Length: 100 to 150 words.\\n- Interaction: Always ask them to hit an emoji reaction or drop their thoughts.\\n- Formatting: ONLY use basic HTML tags for Telegram: <b>bold</b>, <i>italic</i>, <tg-spoiler>hidden text</tg-spoiler>. Do NOT use markdown like asterisks (**) or backticks.\\n\\nOutput ONLY the raw HTML text of the post. Do not output anything else."
            }
          ]
        },
        "options": {
          "temperature": 0.8
        }
      },
      "id": "8bb380dc-32cd-4cdb-8b01-ffc70a1a096c",
      "name": "Groq - Generate Helpful Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "J4Cq2Nu94O3Srvyb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003783389662",
        "text": "={{ $json.message.content + '\\n\\n━━━━━━━━━━━━━━\\n💡 <b>For Zero-Day Job Alerts, install the</b> <a href=\"https://skillhire.in\">SkillHire Web App</a> <b>or check out our</b> <a href=\"https://www.instagram.com/skillhire.in\">Instagram</a>!' }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "46bc25ef-f50f-4e00-a6ad-0a25dbdbda86",
      "name": "Telegram - Send to Free Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "evtt8swUj3dl1Rb2",
          "name": "SkillHireBot"
        }
      }
    }
  ],
  "connections": {
    "Schedule (9AM & 6PM)": {
      "main": [
        [
          {
            "node": "Groq - Generate Helpful Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Generate Helpful Content": {
      "main": [
        [
          {
            "node": "Telegram - Send to Free Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
